.metadata-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 300px;
  margin: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
      width: 100%;
      height: auto;
      border-radius: 8px;
  }

  h2 {
      font-family: 'Macan', Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 1.5rem;
      margin: 10px 0;
      color: #333;
  }

  p {
      font-family: 'Macan', Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 1rem;
      color: #666;
      margin: 0;
  }

  /* Responsive styles */
  @media (max-width: 768px) {
      max-width: 80%;
      padding: 15px;
      margin: 15px;

      h2 {
          font-size: 1.25rem;
      }

      p {
          font-size: 0.9rem;
      }
  }

  @media (max-width: 480px) {
      max-width: 100%;
      padding: 10px;
      margin: 10px;

      h2 {
          font-size: 1rem;
      }

      p {
          font-size: 0.8rem;
      }
  }
}
